{% extends 'base.html' %}
{% load shop_utils %}

{% block content %}
<div id="plate" class="fixClear">
	  <div id="plateContent" class="fixClear">


	    <div id="content_big" >
	      <div id="contentContent" class="fixClear">
		<div id="contentVertical" class="fixClear">
		</div>
				<div id="contentContentInfo">

                                    {% block shop_content %} {% endblock %}
 


</div>

	      </div>
	      <div id="contentEnd">
	      </div>
	    </div>                  <!-- END content -->

	  </div>
	  <div id="plateEnd">
	  </div>
	</div>                      <!-- END plate -->

{% endblock %}
