{% extends 'shop/base_shop.html' %}
{% block shop_content %}
  <h3 class="categoryHeading">SHOPPING CART</h3>

{% if cart.is_empty %} 
<h2>The shopping cart is empty.</h2>
{% else %}
    {% with cart.cartitem_set.all as items %}
    {% with cart as cart_or_order %}
    {% include 'shop/itemized_display.html' %}
    {% endwith %}
    {% endwith %}

{% endif %}

<div id="cartMenu">
<hr/>
<a href="/">CONTINUE SHOPPING</a>&nbsp;&nbsp;&nbsp;

<a href="{% url exact_clone.shop.views.empty_cart %}">EMPTY CART</a>&nbsp;&nbsp;&nbsp;

<a href="javascript:void(0);" onclick="document.getElementById('checkoutForm').submit();" >CHECKOUT</a>

<form id="checkoutForm" style="display:none" method="post" action="https://checkout.e-xact.com/payment">
{% for key,setting in payment_settings.items %}
    <input type="hidden" name="{{key}}" value="{{setting}}" />
{% endfor %}
</form>


</div>




{% endblock %}
