  <table cellpadding="10" cellspacing="0" style="width: 100%;">
    <tr class="cartTitle">
      <td colspan="2">Description</td>
      <td>Qty</td>
      <td style="text-align: right">Each</td>
      <td style="text-align: right">Total</td>
    </tr>

    {% for item in items %}
    {% with item.product as product %}
    {% with product.photo as photo %}
      <tr>
      <td width="100">
          <a href="{% url exact_clone.gallery.views.detail photo.slug %}"><img alt="{{photo.title}}" src="{{photo.thumb.url}}" /></a>
      </td>
      <td style="text-align: left">
          <a href="{% url exact_clone.gallery.views.detail photo.slug %}">{{photo.title}}</a>
      </td>
      <td>
          {{item.quantity}}
      </td>
      <td align="right">
          ${{item.product.price|floatformat:2}}
      </td>
      <td align="right">${{item.line_item_total|floatformat:2}}</td>
    </tr>
    {% endwith %}
    {% endwith %}
    {% endfor %}
      <tr>
      <td colspan="4" align="right">
	Shipping:
      </td>

      <td align="right">${{cart_or_order.shipping|floatformat:2}}</td>
    </tr>
    <tr>
      <td colspan="4" align="right"><strong>Subtotal:</strong></td>
      <td id="subTotalCell" align="right"><strong>${{cart_or_order.sub_total|floatformat:2}}</strong></td>
    </tr>
    <tr>

      <td colspan="4" align="right">
	<strong>Taxes:</strong>
      </td>
      <td class="totals" align="right"><strong>${{cart_or_order.tax_amount|floatformat:2}}</strong></td>
    </tr>
    <tr>
      <td colspan="4" align="right"> <strong>Total:</strong> </td>

      <td id="totalCell" align="right"><strong>${{cart_or_order.total|floatformat:2}}</strong></td>
    </tr>
  </table>

